html
  head
    title='Knowit Docker och Kubernetes'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hej! Det här är en Docker och Kubernetes demo!
        p
          a.btn.btn-primary(href="https://hub.docker.com" target="_blank") Docker Hub

          a.btn.btn-outline-primary(href="https://kubernetes.io" target="_blank") Kubernetes Io Documentation       
          
          a.btn.btn-primary(href="https://knowit.se" target="_blank") Knowit
        p
        

